.mt-6 {
  margin-top: 1.5rem
}

.mt-12 {
  margin-top: 3rem
}

.flex {
  display: flex
}

.h-4 {
  height: 1rem
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.border {
  border-width: 1px
}

.border-red-900 {
  --tw-border-opacity: 1;
  border-color: rgb(127 29 29 / var(--tw-border-opacity))
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.pt-12 {
  padding-top: 3rem
}

.pl-12 {
  padding-left: 3rem
}

.pl-16 {
  padding-left: 4rem
}

.pl-20 {
  padding-left: 5rem
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-\[500\] {
  color: 500
}
